<form>
    <div class="form-group">
      <label for="dataImportForm-inputFiles">Choose file to import</label>
      <input type="file" class="form-control-file" id="dataImportForm-inputFiles">
    </div>
  </form>

{% extends 'pages/base.html' %}

{% block title %} NeoRec home {% endblock %}

{% block content%}
<form>
    <div class="form-group">
      <label for="dataImportForm-inputFiles">Choose file to import</label>
      <input type="file" class="form-control-file" id="dataImportForm-inputFiles">
    </div>
</form>


{% endblock %}